@use "modern-normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  text-align: center;
  //outline:  1px solid red;
}

body {
  background-color: #fff1d3;
  padding-block: 10px;
}

image {
  display: block;
}

button {
  height: 48px;
  border-radius: 100px;
  outline: none;
  border: 3px solid black;
  background-color: #f6d94a;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: #ecc604;
  }
}

header {
  background-color: #e94b35;
  padding: 30px;
  border-radius: 17px;
  display: flex;
  justify-content: end;
  gap: 20px;
  border-bottom: 3px solid black;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  height: calc(100vh - 20px);
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
  border-radius: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 970px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  border: 3px solid black;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
